body {
  background-color: #FF7F50;
}

#main-navbar {
  background-color: #FFD8B1;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a {
  display: block;
  padding: 15px 20px;
  color: #536878;
  text-decoration: none;
  font-family: 'Teko', impact, sans-serif;
  font-size: 150%;
}

#main-navbar ul li a:hover {
  background-color: #D4AF37;
  color: #FFFFFF;
}

#onpage {
  background-color: #D4AF37;
}

section {
  background-color: #00D1CF;
  margin: 2% auto;
  padding: 2%;
  width: 60%;
  border-style: double;
  border-radius: 10px;
  border-width: 2em;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Allura', cursive;
  color: #440B11;
  position: relative;
  text-align: center;
  font-size: 2em;
}

a, p, ul, ol {
  color: #840000;
  font-family: 'Times New Roman', serif;
}

ul, ol {
  display: inline-block;
  text-align: left;
}

footer {
  background-color: #FFD8B1;
  width: 100%;
  position: relative;
  text-align: center;
}

footer a {
  color: #536878;
  text-decoration: none;
  font-family: 'Teko', impact, sans-serif;
  font-size: 2em;
}

#quote {
  font-size: 2em;
  font-family: 'Teko', impact, sans-serif;
  font-style: oblique;
  color: #FFBF00;
  text-decoration: underline;
  text-decoration-color: #02075D;
  text-decoration-style: double;
}

#linkedin {
  font-size: 1.5em;
  color: #0000FF;
  text-shadow: 2px 2px #02075D;
}

#resumeUL li{
  list-style: none;
  padding: 10px 30px;
  background-image: url("../images/star.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}

audio::-webkit-media-controls-panel {
  background-color: #FADA5E;
}

audio::-webkit-media-controls-mute-button {
  background-color: #B1D4E0;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177,212,224, .7);
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}

audio::-webkit-media-controls-timeline {
  background-color: #B1D4E0;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

audio {
  width: 24em;
}

#musicUL {
  list-style-type: circle;
}

.songName {
  color: #B1D4E0;
  font-size: 1.5em;
  text-shadow: 2px 2px #9B870C;
}

img {
  width: 40%;
  border-radius: 10px;
}

#transition {
  font-size: 30px;
  animation-name: colors;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes colors {
  0% { color: #FF4300; text-shadow: 2px 2px #C83200; }
  25% { color: #FF8000; text-shadow: 2px 2px #C65900; }
  50% { color: #FFD400; text-shadow: 2px 2px #C67700; }
  75% { color: #FFFA00; text-shadow: 2px 2px #C69500; }
  100% { color: #BBFF00; text-shadow: 2px 2px #C6C300; }
}
