body {
  background-color: #FF7F50;
}

#main-navbar {
  background-color: #FFD8B1;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a {
  display: block;
  padding: 15px 20px;
  color: #C0C0C0;
  text-decoration: none;
  font-family: 'Teko', impact, sans-serif;
  font-size: 150%;
}

#main-navbar ul li a:hover, #onpage {
  background-color: #D4AF37;
  color: #FFFFFF;
}

section {
  background-color: #00D1CF;
  margin: auto;
  padding: 0;
  width: 80%;
}

p, li {
  font-family: cursive;
}
